.hero__container {
  background-color: var(--header-bg-color);
  margin-bottom: 200px;
}
.hero__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  letter-spacing: 10px;
  color: var(--white-color);
  opacity: 49.64%;
}
.hero__desck {
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: var(--white-color);
  max-width: 396px;
  padding-top: 24px;
}
.hero__paragrf {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--white-color);
  opacity: 75%;
  max-width: 349px;
  padding-top: 24px;
}
.hero__right {
  background-image: url("../../assets/hero_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 500px;
  height: 500px;
}
.zx__speaker {
  background-color: var(--main-color);
  margin-top: 168px;
  display: flex;
  justify-content: none !important;
}
.zx__speaker-main {
  display: flex;
  align-items: center;
  gap: 138px;
}
.SpeakerFonImg {
  margin-left: 117px;
}

.zx7__speaker-main {
  display: flex;
  align-items: center;
  margin-top: 48px;
  padding: 0 !important;
  /* background: #f1f1f1; */
}

.zx7__speaker__right {
  background-image: url("../../assets/FonBitmap.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 8px;
  height: 320px;
  padding-left: 124px;
  padding-top: 80px;
  /* max-width: 500px;
  height: 500px; */
}
.x7__speaker--title {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 32px;
}

.yx1__earphoes-main {
  display: flex;
  align-items: center;
  padding: 0 !important;
  margin-top: 48px;
  gap: 20px;
}
.yx1__earphones--title {
  color: #000;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.yx1__earphones__right {
  background-image: url("../../assets/airphone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 320px;
  border-radius: 8px;
}
.yx1__earphones--left {
  border-radius: 8px;
  background: #f1f1f1;
  width: 540px;
  height: 320px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
